---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dos Tragos">
	<div class="flex justify-center items-center flex-col w-screen h-screen gap-6">
        <h1 class="text-3xl text-center">Esta página no existe.</h1>
        <img src="../../public/img/404.gif" alt="">

    </div>
</Layout>