---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import Service from '../components/Services.astro'

---

<Layout title="Dos Tragos">
	<header class="relative z-10">
		<Nav />
	</header>
	<main class="w-full">
		<div class="w-full h-screen flex items-center justify-center">
            <h1 class="9xl">SERVICIOS</h1>
        </div>
	</main>
	<Footer />
</Layout>
