---

---

<section class="px-6 mt-16">
    <h1 class="text-3xl text-start text-amber-300 py-6 font-semibold">¿Quiénes somos?</h1>
    <div class="bg-zinc-900">
        <div class="w-full h-[800px] bg-[url(../../public/img/galeria/bartender.webp)] bg-cover bg-fixed bg-top">
            <div class="xl:w-[60%] 2xl:w-[50%]  w-full py-9 xl:px-32 lg:px-16 px-9 h-full flex items-center text-zinc-700 backdrop-blur-sm">
                <div class="flex flex-col gap-3 text-md bg-zinc-300/50 p-20 rounded-xl">
                    <p>
                        En Dos Tragos, nos dedicamos a ofrecer experiencias únicas en el mundo de la coctelería. 
                    </p>   
                    <p>   
                        Nuestro equipo está compuesto por expertos en mixología, apasionados por la creación de cócteles únicos y memorables. 
                    </p>   
                    <p>
                        Ofrecemos servicios personalizados de coctelería,
                        ya sea que estés planeando una fiesta íntima en casa o un gran evento corporativo, 
                        nuestro equipo trabajará contigo para crear un menú de bebidas que se adapte perfectamente a tus necesidades y gustos.
                    </p>   
                    <p>
                        Nos esforzamos por llevar esa pasión y creatividad a cada evento que atendemos, 
                        creando experiencias que deleitan los sentidos y hacen que cada ocasión sea verdaderamente inolvidable.
                    </p>  
                    <p>
                        Únete a nosotros en un viaje a través del mundo de la coctelería y descubre la magia detrás de cada sorbo. 
                        ¡Estamos emocionados de compartir nuestra pasión contigo!
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    
</section>