<footer class="py-9 mt-20 bg-zinc-400/10 w-full" id="contactos">
    <div class="grid grid-cols-3 lg:w-[1000px] w-full mx-auto gap-6">
        <a href="https://www.facebook.com/2tragosec/?locale=sr_RS" target="_blank" class="lg:col-span-1 gap-3 flex items-center justify-center col-span-3 hover:text-amber-200">
            <span class="icon-facebook2 text-2xl"></span> 
            <p class="flex items-center text-zinc-400"><span class="text-xl">@</span>2tragosec</p>
        </a>
    
        <a href="https://www.instagram.com/2tragos_ec/?igsh=bnR2ZGo1czI5NHc4" target="_blank" class="lg:col-span-1 flex gap-3 items-center justify-center col-span-3 hover:text-amber-200">
            <span class="icon-instagram text-2xl"></span> 
            <p class="flex items-center text-zinc-400"><span class="text-xl">@</span>2tragos_ec</p>
        </a>
    
        <a href="https://web.whatsapp.com/send?phone=+593991718739" target="_blank" class="lg:col-span-1 flex gap-3 items-center justify-center col-span-3 hover:text-amber-200">
                <span class="icon-whatsapp text-2xl"></span> 
                <p class="flex items-center text-zinc-400"><span class="text-xl">+</span>593 96 423 5134</p>
            
        </a>
    </div>
    <div class="text-center text-zinc-400 mt-6">
        <p>Realizado por: <strong>Luis Gómez Veloz</strong></p>
    </div>
</footer>
