<section class="px-6 mt-16">
    <h1 class="text-3xl text-start text-amber-300 py-6 font-semibold">Galería</h1>
    <div class="w-full grid grid-cols-10 gap-1 bg-zinc-200">
        <div class="col-span-10 lg:col-span-7 relative">
            <img src="../../public/img/galeria/drinks1.webp" alt="" class="w-full lg:h-[600px] object-cover object-center">
        </div>
        
        <div class="col-span-10 lg:col-span-3">
            <img src="../../public/img/galeria/drinks4.webp" alt="" class="w-full lg:h-[600px] object-cover object-center">
        </div>

        <div class="col-span-10 lg:col-span-3">
            <img src="../../public/img/galeria/drinks3.webp" alt="" class="w-full lg:h-[600px] object-cover object-center">
        </div>

        <div class="col-span-10 lg:col-span-7 relative">
            <img src="../../public/img/galeria/drinks2.webp" alt="" class="w-full lg:h-[600px] object-cover object-center">
        </div>
    </div>
</section>