---

---

<section class="px-6 mt-16">
    <h1 class="text-3xl text-start text-amber-300 py-6 font-semibold">Algunos de nuestros productos estrella</h1>
    <div class="grid grid-cols-3 gap-1 h-[800px] bg-zinc-200">
        <div class="relative grid col-span-3 lg:col-span-1 row-span-2 lg:row-span-1 bg-[url(../../public/img/galeria/sangria.webp)] bg-cover bg-center">
            <div class="relative">
                <div class="absolute bottom-0 w-full py-9 px-20 bg-gradient-to-t from-black/90 to-transparent to-100%">
                    <h3 class="font-semibold text-2xl">Licores variados.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tempore voluptas, atque qui maxime libero ipsa harum nihil quaerat alias cum corrupti tenetur laborum molestias. Incidunt nisi quas voluptatem natus?</p>
                </div>
            </div>
        </div>
        <div class="relative grid col-span-3 lg:col-span-2 row-span-2 bg-[url(../../public/img/galeria/mojito.webp)] bg-cover bg-center">
            <div class="relative">
                <div class="absolute bottom-0 w-full py-9 px-20 bg-gradient-to-t from-black/90 to-transparent to-100%">
                    <h3 class="font-semibold text-2xl">Licores variados.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tempore voluptas, atque qui maxime libero ipsa harum nihil quaerat alias cum corrupti tenetur laborum molestias. Incidunt nisi quas voluptatem natus?</p>
                </div>
            </div>
        </div>
        <div class="relative grid col-span-3 lg:col-span-1 row-span-2 lg:row-span-1 bg-[url(../../public/img/galeria/baileys.webp)] bg-cover bg-center">
            <div class="relative">
                <div class="absolute bottom-0 w-full py-9 px-20 bg-gradient-to-t from-black/90 to-transparent to-100%">
                    <h3 class="font-semibold text-2xl">Licores variados.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tempore voluptas, atque qui maxime libero ipsa harum nihil quaerat alias cum corrupti tenetur laborum molestias. Incidunt nisi quas voluptatem natus?</p>
                </div>
            </div>
        </div>

    </div>
</section>