---
import SpriteAnimation from '../components/SpriteAnimation.astro';

---
<nav id="navbar" 
    class="
            transition 
            duration-[750ms] 
            w-full 
            text-white 
            h-[100px] 
            bg-transparent 
            fixed 
            top-0 
            left-0 
            flex 
            justify-between 
            px-6 
            items-center
            z-10">
    <div class="flex gap-3 items-center relative">
        <div class="flex relative">
            <!-- <div class="h-[124px] w-[124px] absolute -top-6 bg-white rounded-full shadow-xl">
                <img src="../../public/img/logo.png" class="h-full" alt="">
            </div> -->
            <div class="sprite hidden">
                <SpriteAnimation />
            </div>
        </div>
    </div>
    <ul class="gap-5 transition duration-[700ms] text-lg lg:flex hidden" id="menu">
        <li><a href="/" class="hover:text-amber-200">Inicio</a></li>
        <li><a href="" class="hover:text-amber-200">¿Quiénes somos?</a></li>
        <li><a href="services" class="hover:text-amber-200">Servicios</a></li>
        <li><a href="menu" class="hover:text-amber-200">Menú de cócteles</a></li>
        <li><a href="" class="hover:text-amber-200">Galería</a></li>
        <li><a href="#contactos" class="hover:text-amber-200">Contactos</a></li>
    </ul>

    <a href="" class="lg:hidden">
        <span class="icon-menu text-white text-5xl flex" id="burger-menu"></span>
    </a>
</nav>

<style>
	.bajar {
		background: rgb(255,255,255, .5);
		height: 80px;
		color: black;
		backdrop-filter: blur(5px);
	}

	.mostrar {
		display: block;
	}

    .bajar #menu li a:hover {
        color: white;
    }
</style>

<script>
	window.addEventListener('scroll', function() {
		var navbar = document.getElementById('navbar')
		navbar.classList.toggle("bajar", this.window.scrollY > 0)
		document.querySelector(".sprite").classList.toggle("mostrar", this.window.scrollY > 0)
		document.querySelector("#burger-menu").classList.toggle("text-zinc-900", this.window.scrollY > 0)
	});
</script>