<section class="px-6 mt-56">
    <h1 class="text-3xl text-start text-amber-300 py-6 font-semibold">Servicios</h1>
    <div class="flex flex-col lg:flex-row  w-full gap-6">
        <div class="shadow-xl rounded-lg p-6 backdrop-blur-sm bg-zinc-400/10">
            <img src="../../public/img/galeria/drinks7.jpg" alt="" class="h-[400px] w-full object-cover object-center">
            <h2 class="text-2xl mt-6 text-amber-200">Coctelería para eventos</h2>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio labore similique, repellendus, delectus rem provident hic illo magni cumque amet tempora, at sapiente. Sed dolorem asperiores nesciunt labore, optio debitis.</p>
        </div>
        <div class="shadow-xl rounded-lg p-6 backdrop-blur-sm bg-zinc-400/10">
            <img src="../../public/img/galeria/botellasVarias.jpeg" alt="" class="h-[400px] w-full object-cover object-center">
            <h2 class="text-2xl mt-6 text-amber-200">Cocteles to go</h2>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio labore similique, repellendus, delectus rem provident hic illo magni cumque amet tempora, at sapiente. Sed dolorem asperiores nesciunt labore, optio debitis.</p>
        </div>
        <div class="shadow-xl rounded-lg p-6 backdrop-blur-sm bg-zinc-400/10">
            <img src="../../public/img/galeria/drinks6.jpg" alt="" class="h-[400px] w-full object-cover object-center">
            <h2 class="text-2xl mt-6 text-amber-200">Clases de bartender</h2>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio labore similique, repellendus, delectus rem provident hic illo magni cumque amet tempora, at sapiente. Sed dolorem asperiores nesciunt labore, optio debitis.</p>
        </div>
    </div>
</section>
