---

---

<div class="sprite">

</div>

<!-- <img src="../../public/img/food-drink.png" alt=""> -->

<style>
    .sprite {
        width: 72px;
        height: 72px;
        background: url('../../public/img/food-drink.png');
        background-position: -864px -432px;
        animation: move 7s infinite;
    }


    @keyframes move {
        0% {
            background-position: -864px -432px;
        }
        15% {
            background-position: -936px -432px;
        }
        30% {
            background-position: -1008px -432px;
        }
        45% {
            background-position: -1080px -432px;
        }
        60% {
            background-position: -1008px -432px;
        }
        75% {
            background-position: -936px -432px;
        }
        90% {
            background-position: -864px -432px;
        }
        100% {
            background-position: -864px -432px;
        }
    }
</style>